arcade==2.6.7
attrs==19.3.0
cffi==1.15.0
cycler==0.10.0
fonttools==4.33.3
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.5
packaging==20.4
perlin-noise==1.12
Pillow==8.4.0
pycparser==2.21
pyglet==2.0.dev12
pymunk==6.2.1
pyparsing==2.4.7
python-dateutil==2.6.1
pytiled-parser==1.5.4
six==1.11.0
typing-extensions==3.7.4.2
